<module>
	<rawname>firewall</rawname>
	<repo>standard</repo>
	<name>System Firewall</name>
	<version>14.0.3.17</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Connectivity</category>
	<candisable>no</candisable>
	<description>Integrated PBX Firewall. Currently works with RHEL 6 and RHEL 7 compatible distributions. Note: This requires the Sysadmin RPM. Please see wiki for further information.</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Firewall</more-info>
	<changelog>
		*14.0.3.17* FREEPBX-22933 
		*14.0.3.16* Packaging of ver 14.0.3.16
		*14.0.3.15* FREEI-3968 Fixing Fail2ban inconsistent bahaviour 
		*14.0.3.14* FREEI-3968 Fail2ban inconsistent behavior 
		*14.0.3.13* FREEPBX-22769 Fail2ban Intrusion Detection Sync Firewall banned trustedIP's 
		*14.0.3.12* FREEPBX-22550 NTP/Chrony doesn't respond until configured in firewall 
		*14.0.3.11* Packaging of ver 14.0.3.11
		*14.0.3.10* FREEPBX-21095 Firewall does not use Asterisk SIP Settings RTP Range, can block RTP streams 
		*14.0.3.9* FREEI-3160 Default firewall zone for UCP is internet 
		*14.0.3.8* FREEPBX-22371 Yes/No button location inconsistent in firewall setup wizard 
		*14.0.3.7* FREEPBX-22196 SIP device with a lot of BLFs can trigger a responsive firewall block 
		*14.0.3.6* Bugfix/FREEI-2732 security issue firewall wizard sets interface to trusted 14 
		*14.0.3.5* Fixing FREEI-2587 
		*14.0.3.4* Fixing FREEI-2572 
		*14.0.3.3* Packaging of ver 14.0.3.3
		*14.0.3.2* FREEPBX-22105 
		*14.0.3.1* FREEI-2481 I.D doesn't not appear when the Firewall is disabled.
		*14.0.3* FREEI-2469 option to legacy from enabled, Registered ext IP's are getting added to whitelist.
		*14.0.2* FREEI-1982 Move Intrustion Detection to the Firewall module.
		*14.0.1* 14.0 release
	</changelog>
	<depends>
		<file>/usr/lib/sysadmin/includes.php</file>
		<module>sipsettings ge 14.0.27.29</module>
		<module>manager ge 13.0.2.5</module>
		<module>sysadmin ge 14.0.39.2</module>
	</depends>
	<menuitems>
		<firewall>Firewall</firewall>
	</menuitems>
	<location>compatibility</location>
	<md5sum>compatibility</md5sum>
	<supported>
		<version>14.0</version>
	</supported>
	<console>
		<command>
			<name>firewall</name>
		</command>
	</console>
	<hooks>
		<dashboard class="Overview" namespace="FreePBX\modules\Dashboard\Sections">
			<method callingMethod="getSummary" class="Firewall" namespace="FreePBX\modules">dashboardService</method>
		</dashboard>
		<framework class="Start" namespace="FreePBX\Console\Command">
			<method callingMethod="preAsteriskHooks" class="Firewall" namespace="FreePBX\modules">startFirewall</method>
		</framework>
		<framework class="Stop" namespace="FreePBX\Console\Command">
			<method callingMethod="postAsteriskHooks" class="Firewall" namespace="FreePBX\modules">stopFirewall</method>
		</framework>
		<framework class="Restart" namespace="FreePBX\Console\Command">
			<method callingMethod="preAsteriskHooks" class="Firewall" namespace="FreePBX\modules">restartFirewall</method>
		</framework>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" class="Firewall" namespace="FreePBX\modules">chownFreepbx</method>
		</framework>
	</hooks>
	<oobe method="oobeHook" priority="200"/>
</module>