<module>
	<rawname>firewall</rawname>
	<repo>standard</repo>
	<name>System Firewall</name>
	<version>16.0.8</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Connectivity</category>
	<candisable>no</candisable>
	<description>Integrated PBX Firewall. Currently works with RHEL 6 and RHEL 7 compatible distributions. Note: This requires the Sysadmin RPM. Please see wiki for further information.</description>
	<changelog>
		*16.0.8* FREEI-1659 Changing firewall wizard imaging 
		*16.0.7* FREEPBX-21613 Clicking on save rules button in Firewall - Advanced custom rules page without making any changes gives response in some spanish language. 
		*16.0.6* FREEPBX-21612 - Fix: The log list does not show data. 
		*16.0.5* FREEPBX-21612 
		*16.0.4* FREEPBX-21609: Add button only save rules. 
		*16.0.3* FREEPBX-21472: Correct layout 
		*16.0.2* FREEPBX-21053, backup and restore custom rules
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<depends>
		<file>/usr/lib/sysadmin/includes.php</file>
		<module>sipsettings ge 13.0.23.1</module>
		<module>manager ge 13.0.2.5</module>
		<version>15.0.6.18</version>
	</depends>
	<menuitems>
		<firewall>Firewall</firewall>
	</menuitems>
	<location>compatibility</location>
	<md5sum>compatibility</md5sum>
	<supported>
		<version>16.0</version>
	</supported>
	<console>
		<command>
			<name>firewall</name>
		</command>
	</console>
	<hooks>
		<dashboard class="Overview" namespace="FreePBX\modules\Dashboard\Sections">
			<method callingMethod="getSummary" class="Firewall" namespace="FreePBX\modules">dashboardService</method>
		</dashboard>
		<framework class="Start" namespace="FreePBX\Console\Command">
			<method callingMethod="preAsteriskHooks" class="Firewall" namespace="FreePBX\modules">startFirewall</method>
		</framework>
		<framework class="Stop" namespace="FreePBX\Console\Command">
			<method callingMethod="postAsteriskHooks" class="Firewall" namespace="FreePBX\modules">stopFirewall</method>
		</framework>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" class="Firewall" namespace="FreePBX\modules">chownFreepbx</method>
		</framework>
	</hooks>
	<oobe method="oobeHook" priority="200"/>
</module>