<module>
	<rawname>firewall</rawname>
	<repo>standard</repo>
	<name>System Firewall</name>
	<version>13.0.45</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Connectivity</category>
	<candisable>no</candisable>
	<description>Integrated FreePBX Firewall. Currently works with RHEL 6 and RHEL 7 compatible distributions. Note: This requires the Sysadmin RPM. Please see wiki for further information.</description>
	<changelog>
		*13.0.45* FREEPBX-14765 - Ensure dashboard errors are cleaned up correctly
		*13.0.44.7* FREEPBX-14483 - Enable tftp conntrack
		*13.0.44.6* FREEPBX-14502 - Fix out of date links
		*13.0.44.5* FREEPBX-14508 Firewall Network Interface Save issue
		*13.0.44.4* FREEPBX-14321 and Minor typo fixes
		*13.0.44.3* Significant UI rework, many bug/feature requests: #11473, #12472, #13788, #13345, #13695, #13773, #13918, #14164, #13328.
		*13.0.43.1* Reliability update: FREEPBX-14014, FREEPBX-13844, FREEPBX-13815, FREEPBX-13729
		*13.0.42.2* Allow other services to be on port 80
		*13.0.42.1* FREEPBX-13411 Avoid potential race condition with slow DNS
		*13.0.42* Whitelist device when logging in.
		*13.0.41.1* Make sure empty networkmaps can't exist
		*13.0.41* Split provisioning and restapps into secure and insecure settings
		*13.0.40.1* FREEPBX-12624 - Missed pjsip in the warnings
		*13.0.40* Complete first stagge of FreePBX 14 support
		*13.0.39.3* FREEPBX-13396 More edge cases in 'ip -o addr'
		*13.0.39.2* FREEPBX-13357 PHP 5.6 throws exception instead of empty array
		*13.0.39.1* FREEPBX-13138 - Avoid potential bypass of iptables
		*13.0.39* #13056 - Ensure blank hosts aren't parsed.
		*13.0.38.2* Also address potential tftp issues
		*13.0.38.1* Potential fix for segv on startup.
		*13.0.37.1* Fix crash on startup when unconfigured
		*13.0.36.4* Ensure that all the node ports are returned correctly
		*13.0.36.3* #12624 - Minor warning fix
		*13.0.36.2* FREEPBX-12549
		*13.0.36.1* FreePBX Distro 7 fixes, FreePBX 14 support.
		*13.0.35.2* Minor bugfix reported in forums, when ifcfg file is corrupt
		*13.0.35.1* Implement new SSL ports in Sysadmin, and auto-open RestAPPS for registered endpoint #12443
		*13.0.34* #12472 - allow Passive FTP
		*13.0.33* Do not look up blank hosts
		*13.0.32* Add 'lock firewall on' feature - see http://wiki.freepbx.org/x/0wLzAw
		*13.0.31* Fix issue reported on IRC, and potentially #12095
		*13.0.30* #12336 and remove all kernel modules when shutting down
		*13.0.29* Update for new Sipsettings module with complete TLS support
		*13.0.28* #12251 - PJSip issues
		*13.0.27.1* Better TLS Support
		*13.0.26* #12133, #12142, #12143, #12149
		*13.0.25* Be more tolerant of transient DB errors
		*13.0.24* Handle tunnel interfaces sensibly.
		*13.0.23.1* Make stop and start more intuitive
		*13.0.23* Support managed mode.
		*13.0.22.3* Double-check we unlock when exiting.
		*13.0.22* Fix possibility of accidental iptables entry duplication
		*13.0.21.1* Ensure firewall stops when fwconsole stop is run
		*13.0.21* #11610, #11916, #11947, #11709, #11813, #11919, #11920, #11935.
	</changelog>
	<depends>
		<file>/usr/lib/sysadmin/includes.php</file>
		<module>sipsettings ge 13.0.23.1</module>
	</depends>
	<menuitems>
		<firewall>Firewall</firewall>
	</menuitems>
	<location>compatibility</location>
	<md5sum>compatibility</md5sum>
	<supported>
		<version>13.0</version>
	</supported>
	<hooks>
		<dashboard class="Overview" namespace="FreePBX\modules\Dashboard\Sections">
			<method callingMethod="getSummary" class="Firewall" namespace="FreePBX\modules">dashboardService</method>
		</dashboard>
		<framework class="Start" namespace="FreePBX\Console\Command">
			<method callingMethod="preAsteriskHooks" class="Firewall" namespace="FreePBX\modules">startFirewall</method>
		</framework>
		<framework class="Stop" namespace="FreePBX\Console\Command">
			<method callingMethod="postAsteriskHooks" class="Firewall" namespace="FreePBX\modules">stopFirewall</method>
		</framework>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" class="Firewall" namespace="FreePBX\modules">chownFreepbx</method>
		</framework>
	</hooks>
	<oobe method="oobeHook" priority="200" /> 
</module>
