label.btn {
	margin: 0;
}

.x-btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.x-btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.x-btn {
	padding: 5px 12px;
}

.noright {
	padding-right: 0px;
}

.noleft {
	padding-left: 0px;
}

