label.btn {
	margin: 0;
}

.x-btn {
	padding: 5px 12px;
	min-width: 40px;
}

.noright {
	padding-right: 0px;
}

.noleft {
	padding-left: 0px;
}

tr[zone='external']>td { background-color: #ffebee; }
tr[zone='internal']>td { background-color: #e8f5e9; }
tr[zone='trusted']>td { background-color: #fff9c4; }
tr[zone='other']>td { background-color: #ede7f6; }

.newnetsel { width: calc(100% - 4em); display: inline; }
.descrow td { border: none !important; padding-top: 0px !important; }

/* Alert classes to change background colours */
@-webkit-keyframes pulsebg {
  0%   {background: white;}
  20%  {background: pink;}
  100% {background: white;}
}
@keyframes pulsebg {
  0%   {background: white;}
  20%  {background: pink;}
  100% {background: white;}
}
.pulsebg {
  -webkit-animation: pulsebg 2s linear;
  animation: pulsebg 2s linear;
}

// Dont' display the action bar unless we've explictly asked for it.
#action-bar{ display: none; }
